body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  // background-color: aquamarine;
  padding: 0;
}

.gallery {
  margin-top: 25px;
  margin-bottom: 25px;

  display: flex;

  gap: 20px;
  flex-wrap: wrap;
}

.photo-card {
  // background-color: rgb(198, 218, 218);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc((100% - 60px) / 4);
  // height: calc((100% - 200px) / 10);
}

a {
  width: 100%;

  height: 100%;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  gap: 5px;
  border: 1px solid transparent;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.info-item {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  font-size: smaller;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  margin-bottom: 10px;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #000;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #ff3d00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
